{% extends "header.html" %}
{% load static %}
{% block content %}
        <link rel="stylesheet" href={% static "home/css/style.css" %}>
        <section id="main-menu" class="container a-center">
            <div class="j-center col-gap1 relative">
                <span id="main-menu-line"></span>
                <button id="lost_item" class="main-btn"><img src={% static "home/icon_buttons/lost_btn_icon.svg" %} alt="Lost item icon" class="btn-icon"></button>
                <button id="found_item" class="main-btn"><img src={% static "home/icon_buttons/found_btn_icon.svg" %} alt="Found item icon" class="btn-icon"></button>
            </div>
        </section>
        <main class="container">
            <h1>ONDE VOCÊ PERDEU?</h1>
            <form class="col">
                <div>
                    <div>
                        <button class="area-opt">+</button>
                        <button class="area-opt">-</button>
                    </div>
                    {% include "map.html" %}
                </div>
                <div class="field-wrapper">
                    <label for="location">Qual foi o lugar?</label>
                    <input type="text" id="location" placeholder="Insira o local">
                </div>
                <div class="field-wrapper">
                    <label for="item">Digite o item perdido:</label>
                    <input type="text" id="item" placeholder="O que você perdeu?">
                </div>
                <div class="field-wrapper">
                    <label for="itemDesc">Nos conte mais sobre esse item:</label>
                    <textarea id="itemDesc" cols="30" rows="10" placeholder="Insira uma descrição sobre ele"></textarea>
                </div>
                <div class="field-wrapper">
                    <label for="contact">Por onde podemos contactar você?</label>
                    <input type="text" id="contact" placeholder="Digite um contato">
                </div>
                <button type="submit">ENVIAR</button>
            </form>
        </main>
        <footer>
        </footer>
    </body>
    </html>
{% endblock content %}