{% extends "header.html" %}
{% load static %}
{% block content %}
        <section id="main-menu" class="container a-center">
            <div class="j-center col-gap1 relative">
                <span id="main-menu-line"></span>
                <button id="lost_item" class="main-btn"><img src={% static "home/icon_buttons/lost_btn_icon.svg" %} alt="Lost item icon" class="btn-icon"></button>
                <button id="found_item" class="main-btn"><img src={% static "home/icon_buttons/found_btn_icon.svg" %} alt="Found item icon" class="btn-icon"></button>
            </div>
        </section>
        <main class="container">
            <h1>ONDE VOCÊ PERDEU?</h1>
            {% csrf_token %}
            <form class="col" action="." method="post">
                <div>
                    {% include "map.html" %}
                </div>
                <div class="field-wrapper">
                    <label for="location">Qual foi o lugar?</label>
                    {{lost_form.location}}
                </div>
                <div class="field-wrapper">
                    <label for="item">Digite o item perdido:</label>
                    {{lost_form.item}}
                </div>
                <div class="field-wrapper">
                    <label for="itemDesc">Nos conte mais sobre esse item:</label>
                    {{lost_form.description}}
                </div>
                <div class="field-wrapper">
                    <label for="contact">Por onde podemos contactar você?</label>
                    {{lost_form.contact}}
                </div>
                <button type="submit" id="send">ENVIAR</button>
            </form>
        </main>
        <footer>
        </footer>
    </body>
    </html>
{% endblock content %}