#main-menu {
    width: 100%;
    background-image: url(https://placeholder.com/1400x350);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 50dvh;
}

#main-menu div {
    width: 100%;
}

#main-menu-line {
    position: absolute;
    height: 3px;
    width: 100%;
    top: 50%;
    background-color: rgb(170, 170, 170);
}

#lost_item,
#found_item {
    cursor: pointer;
    z-index: 2;
}

.btn-icon {
    width: 9.8rem;
}

.area-opt {
    width: 60px;
    height: 25px;
}

main.container {
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-areas: "null1 title null2" "null1 form null2";
    margin-block: 10rem;
}

main.container h1 {
    font-family: Cabin;
    grid-area: title;
}

form {
    row-gap: 1em;
    grid-area: form;
}

form #map{
    height: 300px;
    width: 100%;
    border-radius: 5px;
}

form .field-wrapper label {
    display: block;
    font-family: Roboto;
    font-size: 1.05rem;
    margin-bottom: 5px;
}

form .field-wrapper input,
form .field-wrapper textarea {
    border: 1px solid #868686;
    border-radius: 4px;
    font-size: 1.02rem;
    padding: 0.2em;
    font-family: Roboto;
}

form .field-wrapper input:focus,
form .field-wrapper textarea:focus {
    outline: none;
    box-shadow: 5px 7px 30px rgba(0, 0, 0, 0.1);
}

form .field-wrapper textarea {
    resize: none;
}

form button {
    width: min-content;
    padding: 0.6em 1em;
    cursor: pointer;
}