@use "config/reset.scss";

.container{
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
}

.field-wrapper{
    display: flex;
    flex-direction: column;
    label{
        width: max-content;
    }
}

.field{
    border: 1px solid #868686;
    border-radius: 4px;
    font-size: 1.02rem;
    padding: 0.2em;
    font-family: Roboto;
    max-width: 90%;
    width: 100%;
}

.black-btn{
    background-color: black;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 0.8em;
}

.white-btn{
    @extend .black-btn;
    background-color: white;
    color: black;
}

.flex{
    display: flex;
}

.col{
    @extend .flex;
    flex-direction: column;
}

.a-center{
    @extend .flex;
    align-items: center;
}

.j-center{
    @extend .flex;
    justify-content: center;
}

.aj-center{
    @extend .flex;
    align-items: center;
    justify-content: center;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.col-gap1{
    column-gap: 4rem;
}

.col-gap2{
    column-gap: 8rem;
}

@media screen and (min-width: 991px){
    .field{
        font-size: 1.1rem;
        width: 25%;
    }
}