@font-face {
    font-family: Roboto;
    src: url("../../../../static/sass/config/fonts/Roboto/Roboto-Regular.ttf") format('truetype'),
         url("../../../../static/sass/config/fonts/Roboto/Roboto-Medium.ttf") format('truetype'),
         url("../../../../static/sass/config/fonts/Roboto/Roboto-MediumItalic.ttf") format('truetype'),
         url("../../../../static/sass/config/fonts/Roboto/Roboto-Italic.ttf") format('truetype'),
         url("../../../../static/sass/config/fonts/Roboto/Roboto-BoldItalic.ttf") format('truetype'),
         url("../../../../static/sass/config/fonts/Roboto/Roboto-Bold.ttf") format('truetype'),
         url("../../../../static/sass/config/fonts/Roboto/Roboto-Black.ttf") format('truetype'),
         url("../../../../static/sass/config/fonts/Roboto/Roboto-BlackItalic.ttf") format('truetype');
}

@font-face {
    font-family: Cabin;
    src: url("../../../../static/sass/config/fonts/Cabin/Cabin-Bold.ttf"),
         url("../../../../static/sass/config/fonts/Cabin/Cabin-Italic.ttf") format('truetype'),
         url("../../../../static/sass/config/fonts/Cabin/Cabin-Medium.ttf") format('truetype'),
         url("../../../../static/sass/config/fonts/Cabin/Cabin-MediumItalic.ttf") format('truetype'),
         url("../../../../static/sass/config/fonts/Cabin/Cabin-Regular.ttf") format('truetype'),
         url("../../../../static/sass/config/fonts/Cabin/Cabin_Condensed-Bold.ttf") format('truetype'),
         url("../../../../static/sass/config/fonts/Cabin/Cabin_Condensed-Medium.ttf") format('truetype'),
         url("../../../../static/sass/config/fonts/Cabin/Cabin_Condensed-Italic.ttf") format('truetype'),
         url("../../../../static/sass/config/fonts/Cabin/Cabin_Condensed-Regular.ttf") format('truetype'),
         url("../../../../static/sass/config/fonts/Cabin/Cabin_SemiCondensed-Bold.ttf") format('truetype'),
         url("../../../../static/sass/config/fonts/Cabin/Cabin_SemiCondensed-Italic.ttf") format('truetype'),
         url("../../../../static/sass/config/fonts/Cabin/Cabin_SemiCondensed-Medium.ttf") format('truetype'),
         url("../../../../static/sass/config/fonts/Cabin/Cabin_SemiCondensed-MediumItalic.ttf") format('truetype'),
         url("../../../../static/sass/config/fonts/Cabin/Cabin_SemiCondensed-Regular.ttf") format('truetype');
}