@use "../../../../static/sass/generic.scss";
@use "../../../../static/sass/config/fonts.scss";

#main-menu{
    width: 100%;
    background-image: url(https://placeholder.com/1400x350);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 60dvh;
    div{
        width: 100%;
        height: 100%;
    }
}

#main-menu-line{
    position: absolute;
    height: 3px;
    width: 100%;
    top: 50%;
    background-color: rgb(170, 170, 170);
}

#lost_item, #found_item{
    cursor: pointer;
    z-index: 2;
}

.btn-icon{
    width: 9.8rem;
}

main.container{
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-areas: "null1 title null2"
                         "null1 form null2";
    margin-block: 8.5rem;
    h1{
        font-family: Cabin;
        grid-area: title;
        margin-bottom: 0.5em;
    }
}

form{
    row-gap: 1em;
    grid-area: form;
    iframe{
        border: 1px solid black;
        height: 300px;
        width: 100%;
    }
    .field-wrapper{
        label{
            font-family: Roboto;
            font-size: 1.05rem;
            margin-bottom: 0.5em;
            width: max-content;
        }
        .field:focus{
            outline: none;
            box-shadow: 5px 7px 30px rgba(0, 0, 0, 0.1);
        }
        textarea{
            resize: none;
        }
    }
    button[type="submit"]{
        cursor: pointer;
        font-size: 1rem;
        padding: 0.7em 1.2em;
        width: min-content;
        transition: all 0.3s;
        &:hover{
            background-color: rgb(29, 28, 28);
            outline: 1px solid black;
            text-shadow: 0px 0px 12px aqua;
        }
    }
}

#map{
    height: 50vh;
    width: 100%;
}

@media screen and (min-width: 991px){
    .btn-icon{
        width: 12rem;
    }
    main.container{
        grid-template-columns: minmax(4rem, 1fr) minmax(min-content, 80%) minmax(4rem, 1fr);
        #map{
            height: 70vh;
        }
    }
    form .field-wrapper{
        label{
            font-size: 1.2rem;
        }
        textarea{
            width: 40%;
        }
    }
}