{% extends "header.html" %}

{% load static %}
{% load compress %}

{% block title %}CONTA{% endblock title %}

{% block head_tags %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href={% static "account/sass/index.scss" %}>
    {% endcompress %}
{% endblock head_tags %}

{% block content %}
    <div>
        <aside>
            <img src="../static/profile_picture_test.png" alt="Profile picture" style="border-radius: 50%; width: 6rem;">
            <h2>{{request.user.username}}</h2>
            <a href={% url "account:logout" %}><button type="button">SAIR</button></a>
        </aside>
        <main>
            {% if user_items %}
                <table>
                    <thead>
                        <tr>
                            <td>ITEM</td>
                            <td>LOCAL</td>
                            <td>DATA</td>
                            <td>STATUS</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in user_items %}
                        <tr>
                            <td>{{ item.item }}</td>
                            <td>{{ item.loc }}</td>
                            <td>{{ item.date }}</td>
                            {% if not item.was_found %}
                            <td style="color: red; font-weight: bold;">PERDIDO</td>
                            {% else %}
                            <td style="color: lightgreen; font-weight: bold;">ENCONTRADO</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                </tbody>
                </table>
            {% else %}
                <p>Ufa! Você não perdeu nenhum item!</p>
            {% endif %}
        </main>
    </div>

{% endblock content %}