{% extends "header.html" %}

{% load static %}
{% load compress %}

{% block head_tags %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href={% static "account/sass/register.scss" %}>
    {% endcompress %}
{% endblock %}

{% block content %}
    <main class="j-center">
        <form action="." method="POST">
            {% csrf_token %}
            <div class="col-center">
                <div class="field-wrapper">
                    <label for="username">Insira seu nome:</label>
                    <input type="text" name="username" id="username" class="field">
                </div>
                <div class="field-wrapper">
                    <label for="password">Insira sua senha:</label>
                    <input type="password" name="password" id="password" class="field">
                </div>
                <div class="field-wrapper">
                    <button type="submit" class="white-btn">ENTRAR</button>
                </div>
            </div>
        </form>
    </main>
{% endblock content %}