{% extends "header.html" %}

{% block content %}
    <form action="." method="POST">
        {% csrf_token %}
        <div class="field-wrapper">
            <label for="username">Insira seu nome:</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="field-wrapper">
            <label for="password">Insira sua senha:</label>
            <input type="password" name="password" id="password">
        </div>
        <button type="submit">ENTRAR</button>
    </form>
{% endblock content %}