{% extends "head.html" %}
{% load static %}

<body>
    {% block header_content %}
    <header>
        <div class="container">
            <a href={% url "home" %}><img src={% static "lib/gray_logo.svg" %} alt="Found It icon"></a>
            <button id="hamburger">
                <span class="span1"></span>
                <span class="span2"></span>
                <span class="span3"></span>
            </button>
            <nav class="aj-center">
                <ul class="relative">
                    {% if not request.user.is_authenticated %}
                        <li><a href={% url "account:signup" %} class="black-btn">CRIAR</a></li>
                    {% else %}
                        {% comment %} NOTHING {% endcomment %}
                    {% endif %}
                    <li><a href={% url "home" %} class="black-btn">SUPORTE</a></li>
                    <li><a href={% url "home" %} class="black-btn">SOBRE</a></li>
                    {% if not request.user.is_authenticated %}
                        <li><a href={% url "account:signin" %} class="white-btn"><span>ENTRAR</span></a></li>
                    {% else %}
                        <li><a href={% url "account:account" %} class="white-btn">CONTA</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    {% endblock header_content %}