{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOUND IT - {% block title %}HOME{% endblock title %}</title>
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href={% static 'header/header.css' %}>
    {% endcompress %}

    {% compress js %}
        <script src={% static "header/header.js" %} defer></script>
    {% endcompress %}
    {% block head_tags %}{% endblock head_tags %}
</head>

{% block header_content %}{% endblock header_content %}

{% block content %}{% endblock content %}