<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Found It - home</title>
    <link rel="stylesheet" href="./build/index.css">
</head>
<body>
    <header>
        <div class="container">
            <img src="./src/lib/gray_logo.svg" alt="Found It icon">
            <nav>
                <ul>
                    <li><a href="#" class="black-btn">CRIAR</a></li>
                    <li><a href="#" class="black-btn">SUPORTE</a></li>
                    <li><a href="#" class="black-btn">SOBRE</a></li>
                    <li><a href="#" class="white-btn">ENTRAR</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="main-menu" class="container">
        <div class="j-center col-gap1 relative">
            <span id="main-menu-line"></span>
            <button id="lost_item" class="main-btn"><img src="./src/lib/icon_buttons/lost_btn_icon.svg" alt="Lost item icon" class="btn-icon"></button>
            <button id="found_item" class="main-btn"><img src="./src/lib/icon_buttons/found_btn_icon.svg" alt="Found item icon" class="btn-icon"></button>
        </div>
    </section>
    <main class="container">
        <h1>ONDE VOCÊ PERDEU?</h1>
        <form>
            <div>
                <button class="zoom-opt">+</button>
                <button class="zoom-opt">-</button>
            </div>
            <iframe src="" frameborder="0" style="width: 1024px; height: 300px; border: 1px solid black;"></iframe>
            <div class="ipt-wraPPER">
                <label for="location">Onde?</label>
                <input type="text" id="location" placeholder="Onde você perdeu o item?">
            </div>
            <div class="ipt-wrapper">
                <label for="item">O que você perdeu?</label>
                <input type="text" id="item" placeholder="Digite o item perdido">
            </div>
            <div class="ipt-wrapper">
                <label for="itemDesc">Nos conte mais sobre esse item:</label>
                <textarea id="itemDesc" cols="30" rows="10" placeholder="Nos dê uma descrição sobre ele"></textarea>
            </div>
            <div class="ipt-wrapper">
                <label for="contact">Por onde podemos contactar você?</label>
                <input type="text" id="contact" placeholder="Insira uma meio de comunicação">
            </div>
            <button type="submit">ENVIAR</button>
        </form>
    </main>
    <footer>
    </footer>
</body>
</html>