<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Found It - home</title>
    <link rel="stylesheet" href="./build/index.css">
</head>
<body>
    <header>
        <img src="./src/lib/test.svg" alt="Found It icon">
        <nav>
            <ul>
                <li><a href="#" class="black-btn">CRIAR</a></li>
                <li><a href="#" class="black-btn">SUPORTE</a></li>
                <li><a href="#" class="black-btn">SOBRE</a></li>
                <li><a href="#" class="white-btn">ENTRAR</a></li>
            </ul>
        </nav>
    </header>
    <section id="main-menu">
        <img src="https://placeholder.com/1300x360" alt="">
    </section>
    <img src="./src/lib/icon_buttons/lost_phone.svg" alt="Lost item icon" class="btn-icon">
</body>
</html>