<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Found It - home</title>
    <link rel="stylesheet" href="./build/index.css">
</head>
<body>
    <header>
        <div class="container">
            <img src="./src/lib/gray_logo.svg" alt="Found It icon">
            <nav>
                <ul>
                    <li><a href="#" class="black-btn">CRIAR</a></li>
                    <li><a href="#" class="black-btn">SUPORTE</a></li>
                    <li><a href="#" class="black-btn">SOBRE</a></li>
                    <li><a href="#" class="white-btn">ENTRAR</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="main-menu" class="container">
        <div class="btns-wrapper j-center col-gap1 relative">
            <span id="main-menu-line absolute"></span>
            <button id="lost_item"><img src="./src/lib/icon_buttons/lost_btn_icon.svg" alt="Lost item icon" class="btn-icon"></button>
            <button id="found_item"><img src="./src/lib/icon_buttons/found_btn_icon.svg" alt="Found item icon" class="btn-icon"></button>
        </div>
    </section>
</body>
</html>