@use "config/reset.scss";

.container{
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
}

.black-btn{
    background-color: black;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 0.8em;
}

.white-btn{
    @extend .black-btn;
    background-color: white;
    color: black;
}

.flex{
    display: flex;
}

.aj-center{
    @extend .flex;
    align-items: center;
    justify-content: center;
}

.j-center{
    @extend .flex;
    justify-content: center;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.col-gap1{
    column-gap: 4rem;
}

.col-gap2{
    column-gap: 8rem;
}