@use "./generic.scss";
@use "./config/fonts.scss";

header{
    background: rgba(32, 32, 32, 0.87);
    padding-block: 0.5em;
    padding-inline: 1em;
    font-family: Cabin;
    div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            border: 3px solid rgba(228, 228, 228, 0.81);
            border-radius: 100%;
            padding: 2px;
            width: 68px;
        }
    }
}

header ul li{
    display: inline;
    padding: 0.5em;
    a{
        transition: 0.5s;
        &:hover{
            font-size: 17px;
        }
    }
}

#main-menu{
    width: 100%;
    background-image: url(https://placeholder.com/1400x350);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 50dvh;
    div{
        width: 100%;
    }
}

#main-menu-line{
    position: absolute;
    height: 3px;
    width: 100%;
    top: 50%;
    background-color: rgb(170, 170, 170);
}

#lost_item, #found_item{
    z-index: 2;
}

.btn-icon{
    width: 150px;
}

.area-opt{
    width: 60px;
    height: 25px;
}

main.container{
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-areas: "null1 title null2"
                         "null1 form null2";
    margin-block: 10rem;
    h1{
        font-family: Cabin;
        grid-area: "title";
    }
}

form{
    row-gap: 1em;
    grid-area: "form";
    iframe{
        width: 80%;
        height: 300px;
        border: 1px solid black;
    }
    .field-wrapper{
        label{
            display: block;
            font-family: Roboto;
            font-size: 1.05rem;
            margin-bottom: 5px;
        }
        input, textarea{
            border: 1px solid #868686;
            border-radius: 4px;
            font-size: 1.02rem;
            padding: 0.2em;
            &:focus{
                outline: none;
                box-shadow: 5px 7px 30px rgba(0, 0, 0, 0.1);
            }
        }
        textarea{
            resize: none;
        }
    }
    button{
        width: min-content;
        padding: 0.6em 1em;
        cursor: pointer;
    }
}