@use "./generic.scss";

header{
    background: rgba(32, 32, 32, 0.87);
    font-family: sans-serif;
    padding-block: 0.5em;
    padding-inline: 4em;
    div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            border: 3px solid rgba(228, 228, 228, 0.81);
            border-radius: 100%;
            padding: 2px;
            width: 68px;
        }
    }
}

header ul li{
    display: inline;
    padding: 0.5em;
    a{
        transition: 0.5s;
        &:hover{
            font-size: 17px;
        }
    }
}

.btn-icon{
    width: 200px;
}

#main-menu{
    width: 100%;
    background-image: url(https://placeholder.com/1300x360);
    background-repeat: no-repeat;
}